/.vs
/Binaries
/DerivedDataCache
/Intermediate
/Saved
*.sln
*.sdf
*.suo
/

**/.idea
**/__pycache__

tinyxml2_build
!TinyXML2Testing.sln

BinaryDataFiles
Packaged/WindowsNoEditor/HVCCC2/Binaries/Win64/
